<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Geminiapp *</title>
</head>
<body>
    <h1>Geminiapp *</h1>
    <style>
        /* CSS to center the h1 */
        h1 {
            text-align: center;
            font-size: 3em;
        }
    </style>
    <form action="/submit" method="POST">
        <label for="querry"></label>
        <input type="text" id="querry" name="querry" placeholder="Type your query here" >
        <input type="submit" value="Submit">

        <style>
            /* CSS to center the h1 */
            form {
                text-align: center;
            }
        </style>

    </form>
</body>
</html>
